.enroll {
    position: relative;
    z-index: 1;
    padding-inline: 22px;
    padding-left: 22px;
    padding-right:22px;
    padding-bottom: 20px;
    padding-top:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #00529B;
}

.text {
    color: #ffffff;
    font-size: 1.3rem;
    text-transform: uppercase;
    margin-right: 10px;
    text-align: center;
}

.btn button {
    background-color: #E91D28;
    color: #ffffff;
    border: none;
    display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    cursor: pointer;
}