.cont {
    padding-inline: 22px;
    padding-left: 22px;
    padding-right:22px
}

.cont p {
    color: #969696;
    font-family: cursive;
    line-height: 25px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}